.wrap {
  /* background-color: grey; */
  padding: 1.5rem 1.5rem 0.8rem 1.5rem;
  // box-shadow: 0 0 6px 0  rgb(46, 46, 46);
  border-bottom: 1px solid rgb(172, 172, 172);
}

.input_wrap {
  /* text-align: center; */
  display: flex;
  margin: 20px 0;
}

.input {
  border: none;
  border-radius: 10px 0 0 10px;
  height: 44px;
  font-size: 1.2rem;
  width: 90%;
  padding: 5px 45px;
  position: relative;
  background: url(../../assets/icons/search-interface-symbol.png) no-repeat 10px 7px rgb(239, 239, 239);
}

.input:focus {
  outline: none;
  /* background-image: none; */
}

.list {
  display: flex;
  gap: 50px;
  font-size: 1.3rem;

  .list_item {
    list-style-type: none;
    cursor: pointer;

    a {
      text-decoration: none;
      color: rgba(0, 0, 0, 0.621);
    }


  }

  .active a {
    color: black !important;
    border-bottom: 3px solid black;
    font-weight: bold;
  }
}



.filter_btn {
  padding: 6px 10px;
  cursor: pointer;
  background-color: #4b4b4b;
  border: none;
  border-radius: 0 10px 10px 0;
}

.filter_btn:hover {
  background-color: rgb(59, 59, 59);
}